
.screen {
  font-size: 70px;
}

.normal tr{
  font-size: 40px;
  color: black;
  
}
.dark tr{
  font-size: 40px;
  background-color: black;
  color: #fff;
}
.normal td{
  width: 250px;
  height : 70px;
  padding:20px;
  border-radius: 1%;
  background-color: #f0f0f0;;
}
.dark td{
  width: 250px;
  height : 70px;
  padding:20px;
  border-radius: 1%;
  background-color: #666;
}

.normal span{
  font-size: 120px;
  float: right;
}
.dark span{
  color:white;
  font-size: 120px;
  float: right;
}

.calculator {
  font-family: sans-serif;
  position: fixed;
  top:50%;
  /* bottom:20%; */
  left:50%;
  transform: translate(-50%, -50%);
}
.calculator h1{
  font-weight: lighter;
  font-size:60px;
}

.note{
  position: fixed;
  left:50%;
  color:red;
}
.hidden { display:none; }